<!DOCTYPE html>

<html>
    <head>
        <!--Things not displayed on screen-->
        <title> Django Blog</title>
    </head>
    <body>
        <!--p tags are paragraph tags-->
        <header> <!--Title of webpage-->
            <!--a or anchor tags link to something-->
                <h1><a href="/">Django Girls Blog</h1></a></h1> <!--heading tags that denotes sections or titles of parts of the webpage-->
        </header>

        <!--article container tag... this tag usually describe articles or posts-->
        <article>
            <time> published: 14.06.2014, 12:14</time>
            <h2><a href="">My First Post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam veneatis vestibulum. Donec id elit non mi porta gravida at eget marus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimenum nibh, ut fermentum massa justo sit amet risus.</p>
    </article>

    <article>
        <time> published: 14.06.2014, 12:14</time>
        <h2><a href="">My Second Post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam veneatis vestibulum. Donec id elit non mi porta gravida at eget marus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimenum nibh, ut fermentum massa justo sit amet risus.</p>
</article>
    </body>
</html>